.git
.idea
.pytest_cache
.travis
.venv
.vscode
config
dist
docs
htmlcov
pnp.egg-info
scripts
tests
venv

.bumpversion.cfg
.coverage
.dockerignore
.gitignore
.travis.yml
Dockerfile
Dockerfile.arm32v7
Makefile
README.mdpp
requirements.txt

*.iml
**/*.pyc
**/__pycache__